body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    max-width: 600px;
    margin: auto;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
}

.polaroid {
    display: inline-block;
    background: white;
    padding: 25px 25px 74px 25px;
    transform: rotate(-8deg); /* Adjust the angle as needed */
    transition: transform 0.2s;
    border: 3px solid black;
    box-shadow: 8px 8px;
}

.polaroid img {
    display: block;
    width: 100%;
}

.polaroid.left {
    float: left;
    margin: 50px 50px 25px -80px;
    shape-outside: polygon(0 0, 75% 0, 100% 90%, 0% 100%) margin-box;
}

.polaroid.right {
    float: right;
    margin: 20px -120px 20px 30px;
    transform: rotate(5deg); /* Adjust the angle as needed */
    shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0 90%);
}
