{% include "partials/_head.njk" %}
<body>
{% include "partials/_navigation.njk" %}
<main>
    <div class="main-container">
        <section class="content-row first">
            <div class="card welcome">
                <h3>{{ welcome.name }}</h3>
                <p>{{ welcome.title }}</p>
                <p>{{ welcome.desc }}</p>
            </div>

            <div class="card profile-photo">
                <h3>{{ welcome.greetings }}</h3>
                <img src="{{ welcome.profile }}">
            </div>
        </section>

        <section class="content-row">
            <div class="card tags">
                <h3>Interests</h3>
                <div class="tag-list">
                    {% for category in collections.categories %}
                        <a href="{{ '/{{ category }}/index.html' | url }}" class="tag">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="content-row">
            <div class="card recent">
                <h3>Recent posts</h3>
                <div class="blog-list">
                    {{ content | safe }}
                </div>
            </div>
        </section>
    </div>
</main>
{% include "partials/_footer.njk" %}