{% include "partials/_head.njk" %}
<body>
{% include "partials/_navigation.njk" %}
<main>
    <div class="main-container">
        <section class="content-row">
            <div class="card resume">
                {{ content | nonBreakingSpaces | breakableLinks | safe }}
            </div>
        </section>
    </div>
</main>
{% include "partials/_footer.njk" %}
