{% include "partials/_head.njk" %}
<body>
{% include "partials/_navigation.njk" %}
<main>
    <div class="main-container">
        <h3>AHoj</h3>
    </div>
</main>
<script src="{{ '/assets/scripts/xylophone.js' | url }}"></script>
</body>
</html>