*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: black;
    --shadow-color: black;
    --border: 3px solid black;
    --thic-shadow: 8px 8px black;
    color: var(--text-color);
    background: white;
}

body.dark-mode {
    --text-color: #F6F7F8;
    --shadow-color: #F6F7F8;
    --border: 3px solid var(--shadow-color);
    --thic-shadow: 8px 8px var(--shadow-color);
    --backgroud-color: #0C0F0A;
    color: var(--text-color);
    background: var(--backgroud-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 1200px;
    overflow: hidden;
    min-height: 92vh;
    margin: auto;
}

header {
    max-width: 1200px;
    margin: auto;
    background: white;
    color: black;
    min-height: 95px;
}

body.dark-mode header{
    background: var(--backgroud-color);
    color: white;
}

.header-container {
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header li {
    margin-left: 10px;
}

header a, .switch {
    color: var(--text-color);
    font-family: "Lexend Mega";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 20px;
}

body.dark-mode a{
    color: var(--text-color);
}

.switch {
    background: transparent;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch img {
    padding: 6px;
    border-radius: 10px;
}

.ice-cream {
    background: #ffe599;
}

body.dark-mode .ice-cream, .spruce {
    background: transparent;
}

body.dark-mode .spruce {
    background: var(--shadow-color);
}

.xylophone {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 0;
}

.key {
    width: 60px;
    height: 85px;
    margin-right: 5px;
    margin-top: -10px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px;
    cursor: pointer;
}

body.dark-mode .key {
    border-bottom: 2px solid var(--shadow-color);
    border-left: 2px solid var(--shadow-color);
    border-right: 2px solid var(--shadow-color);
    box-shadow: 3px 3px var(--shadow-color);
}

main {
    background: #ff69b4;
}

body.dark-mode main {
    background: var(--backgroud-color);
}

.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 40px;
}

.card {
    border: var(--border);
    box-shadow: var(--thic-shadow);
    border-radius: 10px;
    padding: 20px;
    margin: 60px 20px 20px 20px;
    text-align: left;
}

.card h3 {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 3em;
    line-height: 1;
}

.card p {
    line-height: 2;
    margin: 10px 0 0 0;
}

.welcome {
    background: #ffcf40;
    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 580px;
}

body.dark-mode .welcome {
    background: #3D7068;
    font-weight: 300;
}

.profile-photo {
    padding: 110px 0;
    background: #D7FCD4;
    position: relative;
    width: 500px;
    max-height: 200px;
    min-width: 300px;
}

body.dark-mode .profile-photo {
    background: #816C61;
}

.profile-photo h3 {
    position: absolute;
    left: 20px;
    top: 20px;
}

.profile-photo img {
    position: absolute;
    height: 270px;
    min-width: 250px;
    bottom: 0;
    right: 0;
}

a {
    text-decoration: none;
}

.tags {
    background: #FFF2F1;
    height: fit-content;
}

body.dark-mode .tags {
    background: #0C7C59;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 10px;
}

.tag {
    background: white;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px;
    padding: 5px 15px;
    margin: 8px;
    font-family: "Outfit", sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
}

body.dark-mode .tag {
    background: #55868C;
    border: var(--border);
    box-shadow: 4px 4px var(--shadow-color);
}

.recent {
    width: 100%;
    background: #9CADCE;
    margin: 60px 20px;
}

body.dark-mode .recent {
    background: #8D6346;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
    margin: 40px 0;
}

.blog-item {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    margin: 0px;
    padding: 30px;
    text-align: left;
    box-shadow: 4px 4px;
    width: 320px;
    height: fit-content;
}

.blog-item img {
    display: block;
    height: 250px;
    width: 250px;
    margin: 0 auto 20px auto; /* Center the image and add bottom margin */
    border: 3px solid black;
}

.blog-item h3 {
    margin-top: 0; /* Remove top margin if any */
    font-size: 1.5em;
}

.blog-item p {
    line-height: 1.4;
}