<script>
    const notes = {
        'C': "{{ '/assets/sounds/C.aac' | url }}",
        'D': "{{ '/assets/sounds/D.aac' | url }}",
        'E': "{{ '/assets/sounds/E.aac' | url }}",
        'F': "{{ '/assets/sounds/F.aac' | url }}",
        'G': "{{ '/assets/sounds/G.aac' | url }}",
        'A': "{{ '/assets/sounds/A.aac' | url }}",
        'B': "{{ '/assets/sounds/B.aac' | url }}"
    };
</script>
<script src="{{ '/assets/scripts/xylophone.js' | url }}"></script>
</body>
</html>