<footer style="background-color: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #e9ecef;">
    <div>
        <p>&copy; 2024 Radek Dobrovolný. All rights reserved.</p>
        <p>
            <a href="https://www.linkedin.com/in/radekdobrovolny/" target="_blank" style="text-decoration: none; color: #007bff;">LinkedIn</a> |
            <a href="https://github.com/radekdobrovolny" target="_blank" style="text-decoration: none; color: #007bff;">GitHub</a>
        </p>
    </div>
</footer>

<script>
    const notes = {
        'C': "{{ '/assets/sounds/C.aac' | url }}",
        'D': "{{ '/assets/sounds/D.aac' | url }}",
        'E': "{{ '/assets/sounds/E.aac' | url }}",
        'F': "{{ '/assets/sounds/F.aac' | url }}",
        'G': "{{ '/assets/sounds/G.aac' | url }}",
        'A': "{{ '/assets/sounds/A.aac' | url }}",
        'B': "{{ '/assets/sounds/B.aac' | url }}"
    };
</script>
<script src="{{ '/assets/scripts/xylophone.js' | url }}"></script>
</body>
</html>