<footer>
    <div class="footer-row footer-sign">
        <p>Thank you for reading this far.</p>
    </div>
    <div class="footer-row">
        <div class="footer-card">
            <div class="footer-msg">
                <i class='bx bx-popsicle'></i>
                <p>If you want to go for ice cream with me, we can meet in Prague.</p>
            </div>
            <div class="footer-msg">
                <i class='bx bxs-tree'></i>
                <p>If you would prefer to wander through the forest, we can meet in Hejnice.</p>
            </div>
        </div>
        <div class="footer-card">
            <div class="footer-msg">
                <i class='bx bx-chat' ></i>
                <p>If you would like to chat, we can meet on Messenger, Signal, or Telegram.</p>
            </div>
            <div class="footer-msg">
                <i class='bx bxl-linkedin-square'></i>
                <p>Are you a recruiter or a team leader? Here you can find my structured CV on LinkedIn.</p>
            </div>
        </div>
        <div class="footer-card">
            <div class="footer-msg">
                <i class='bx bxl-github'></i>
                <p> My digital workspace is on GitHub. But beware, there is quite a lot of clutter there.</p>
            </div>
        </div>
        <div class="footer-card">
            <div class="footer-msg">
                <i class='bx bx-copyright' ></i>
                <p>Idea, design, code and texts by:<br/>Radek Dobrovolný, 2024</p>
            </div>
        </div>
    </div>
</footer>

<script>
    const notes = {
        'C': "{{ '/assets/sounds/C.aac' | url }}",
        'D': "{{ '/assets/sounds/D.aac' | url }}",
        'E': "{{ '/assets/sounds/E.aac' | url }}",
        'F': "{{ '/assets/sounds/F.aac' | url }}",
        'G': "{{ '/assets/sounds/G.aac' | url }}",
        'A': "{{ '/assets/sounds/A.aac' | url }}",
        'B': "{{ '/assets/sounds/B.aac' | url }}",
        'C2': "{{ '/assets/sounds/C2.aac' | url }}"
    };
</script>
<script src="{{ '/assets/scripts/xylophone.js' | url }}"></script>
</body>
</html>