<a href="{{ post.url | url }}">
<div class="blog-item">
    <img src="{{ post.data.img | url }}">
    <h3>{{ post.data.title }}</h3>
    <p>{{ post.data.desc }}</p>
    <p><span class="date">{{ post.date | postDate }}</span></p>
    <div class="item-tags">
        {% for tag in post.data.tags %}
            {% if tag != "post" %}
                <span class="item-tag">{{ tag }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>
</a>