<header>
    <div class="xylophone">
        <button data-note="C" class="key" style="background-color: #ffbf00;"></button>
        <button data-note="D" class="key" style="background-color: #ffc51a;"></button>
        <button data-note="E" class="key" style="background-color: #ffcc33;"></button>
        <button data-note="F" class="key" style="background-color: #ffd24d;"></button>
        <button data-note="G" class="key" style="background-color: #ffd966;"></button>
        <button data-note="A" class="key" style="background-color: #ffdf80;"></button>
        <button data-note="B" class="key" style="background-color: #ffe599;"></button>
    </div>
    <nav>
        <ul>
            {%- for item in collections.page -%}
            <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
            {%- endfor -%}
            <li>
                <button class="switch" id="switch"><img src="/assets/images/ice-cream.png" class="ice-cream"><img
                        src="/assets/images/spruce.png" class="spruce"></button>
            </li>
        </ul>
    </nav>
</header>